#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_install:
	dh_auto_install
	# Install desktop file
	install -D -m 644 helloman.desktop debian/helloman/usr/share/applications/helloman.desktop
	# Install icon
	install -D -m 644 helloman.svg debian/helloman/usr/share/icons/hicolor/scalable/apps/helloman.svg 